<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnuip.process.repository.ProcessTaskUserMapper">
    <resultMap type="com.cnuip.base.domain.process.ProcessTaskUser" id="extendMap" extends="com.cnuip.process.repository.base.ProcessTaskUserBaseMapper.baseMap">
    </resultMap>
</mapper>
