<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnuip.console.repository.base.ProvinceBaseMapper">

    <resultMap type="com.cnuip.base.domain.console.Province" id="baseMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <sql id="setfieldstr">
        <set>
            <if test="field=='name'"> name=#{value}, </if>
        </set>
    </sql>

    <sql id="setstr">
        <set>
            <if test="record.name!=null"> name=#{record.name}, </if>
        </set>
    </sql>

    <sql id="wherestr">
        <if test="params!=null">
            <where>
                <if test="params.name!=null and params.name!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> name = #{params.name} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> name LIKE CONCAT(#{params.name}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> name LIKE CONCAT('%', #{params.name}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> name LIKE CONCAT('%', #{params.name}, '%') </if>
                </if>
            </where>
        </if>
    </sql>

    <sql id="orderbystr">
        <if test="params!=null and params.orderBy!=null and params.orderBy!=''">
            ORDER BY ${params.orderBy}
        </if>
    </sql>

    <!-- 已测试 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_province(name)
        VALUES(#{name})
    </insert>

    <!-- 已测试 -->
    <delete id="deleteByKey">
        DELETE FROM sys_province WHERE id=#{id}
    </delete>

    <!-- 已测试 -->
    <delete id="deleteByField">
        DELETE FROM sys_province WHERE
        <if test="valueFrom==null and valueTo==null">
            1!=1
        </if>
        <if test="valueFrom!=null and valueTo!=null">
            ${field} BETWEEN #{valueFrom} AND #{valueTo}
        </if>
        <if test="valueFrom!=null and valueTo==null">
            ${field} = #{valueFrom}
        </if>
        <if test="valueFrom==null and valueTo!=null">
            ${field} = #{valueTo}
        </if>
    </delete>

    <!-- 已测试 -->
    <delete id="delete">
        DELETE FROM sys_province
        <include refid="wherestr"></include>
    </delete>

    <!-- 已测试 -->
    <update id="updateFieldByKey">
        UPDATE sys_province
        <include refid="setfieldstr"></include>
        WHERE id = #{id}
    </update>

    <!-- 已测试 -->
    <update id="updateByKey">
        UPDATE sys_province
        <include refid="setstr"></include>
        WHERE id = #{id}
    </update>

    <update id="update">
        UPDATE sys_province
        <include refid="setstr"></include>
        <include refid="wherestr"></include>
    </update>

    <!-- 已测试 -->
    <select id="count" resultType="int">
        SELECT COUNT(1) FROM sys_province
        <include refid="wherestr"></include>
    </select>

    <!-- 已测试 -->
    <select id="selectOneByKey" resultMap="baseMap">
        SELECT * FROM sys_province WHERE id=#{id} LIMIT 1
    </select>

    <!-- 已测试 -->
    <select id="selectOneByField" resultMap="baseMap">
        SELECT * FROM sys_province WHERE
        <if test="valueFrom==null and valueTo==null">
            1!=1
        </if>
        <if test="valueFrom!=null and valueTo!=null">
            ${field} BETWEEN #{valueFrom} AND #{valueTo}
        </if>
        <if test="valueFrom!=null and valueTo==null">
            ${field} = #{valueFrom}
        </if>
        <if test="valueFrom==null and valueTo!=null">
            ${field} = #{valueTo}
        </if>
         LIMIT 1
    </select>

    <!-- 已测试 -->
    <select id="selectOne" resultMap="baseMap">
        SELECT * FROM sys_province
        <include refid="wherestr"></include>
        <include refid="orderbystr"></include>
        LIMIT 1
    </select>

    <!-- 已测试 -->
    <select id="selectMany" resultMap="baseMap">
        SELECT * FROM sys_province
        <include refid="wherestr"></include>
        <include refid="orderbystr"></include>
    </select>

    <!-- 已测试 -->
    <select id="selectManyByField" resultMap="baseMap">
        SELECT * FROM sys_province WHERE
        <if test="valueFrom==null and valueTo==null">
            1!=1
        </if>
        <if test="valueFrom!=null and valueTo!=null">
            ${field} BETWEEN #{valueFrom} AND #{valueTo}
        </if>
        <if test="valueFrom!=null and valueTo==null">
            ${field} = #{valueFrom}
        </if>
        <if test="valueFrom==null and valueTo!=null">
            ${field} = #{valueTo}
        </if>
        <if test="orderBy!=null and orderBy!=''">
            ORDER BY ${params.orderBy}
        </if>
    </select>

    <!-- 已测试 -->
    <select id="getAll" resultMap="baseMap">
        SELECT * FROM sys_province
        <include refid="wherestr"></include>
        <include refid="orderbystr"></include>
    </select>
</mapper>
