<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnuip.user.repository.base.UserLogBaseMapper">

    <resultMap type="com.cnuip.base.domain.user.UserLog" id="baseMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="user_name"/>
        <result property="content" column="content"/>
        <result property="createdTime" column="created_time"/>
    </resultMap>

    <sql id="setfieldstr">
        <set>
            <if test="field=='userId'"> user_id=#{value}, </if>
            <if test="field=='username'"> user_name=#{value}, </if>
            <if test="field=='content'"> content=#{value}, </if>
        </set>
    </sql>

    <sql id="setstr">
        <set>
            <if test="record.userId!=null"> user_id=#{record.userId}, </if>
            <if test="record.username!=null"> user_name=#{record.username}, </if>
            <if test="record.content!=null"> content=#{record.content}, </if>
        </set>
    </sql>

    <sql id="wherestr">
        <if test="params!=null">
            <where>
                <if test="params.userId!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if> user_id = #{params.userId}
                </if>
                <if test="params.username!=null and params.username!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> user_name = #{params.username} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> user_name LIKE CONCAT(#{params.username}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> user_name LIKE CONCAT('%', #{params.username}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> user_name LIKE CONCAT('%', #{params.username}, '%') </if>
                </if>
                <if test="params.content!=null and params.content!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> content = #{params.content} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> content LIKE CONCAT(#{params.content}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> content LIKE CONCAT('%', #{params.content}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> content LIKE CONCAT('%', #{params.content}, '%') </if>
                </if>
                <if test="params.createdTimeFrom!=null and params.createdTimeTo==null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    created_time&gt;=#{params.createdTimeFrom}
                </if>
                <if test="params.createdTimeFrom==null and params.createdTimeTo!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    created_time&lt;=#{params.createdTimeTo}
                </if>
                <if test="params.createdTimeFrom!=null and params.createdTimeTo!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    (created_time BETWEEN #{params.createdTimeFrom} AND #{params.createdTimeTo})
                </if>
            </where>
        </if>
    </sql>

    <sql id="orderbystr">
        <if test="params!=null and params.orderBy!=null and params.orderBy!=''">
            ORDER BY ${params.orderBy}
        </if>
    </sql>

    <!-- 已测试 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mbr_user_log(user_id,user_name,content)
        VALUES(#{userId},#{username},#{content})
    </insert>

    <!-- 已测试 -->
    <delete id="deleteByKey">
        DELETE FROM mbr_user_log WHERE id=#{id}
    </delete>

    <!-- 已测试 -->
    <delete id="deleteByField">
        DELETE FROM mbr_user_log WHERE
        <if test="valueFrom==null and valueTo==null">
            1!=1
        </if>
        <if test="valueFrom!=null and valueTo!=null">
            ${field} BETWEEN #{valueFrom} AND #{valueTo}
        </if>
        <if test="valueFrom!=null and valueTo==null">
            ${field} = #{valueFrom}
        </if>
        <if test="valueFrom==null and valueTo!=null">
            ${field} = #{valueTo}
        </if>
    </delete>

    <!-- 已测试 -->
    <delete id="delete">
        DELETE FROM mbr_user_log
        <include refid="wherestr"></include>
    </delete>

    <!-- 已测试 -->
    <update id="updateFieldByKey">
        UPDATE mbr_user_log
        <include refid="setfieldstr"></include>
        WHERE id = #{id}
    </update>

    <!-- 已测试 -->
    <update id="updateByKey">
        UPDATE mbr_user_log
        <include refid="setstr"></include>
        WHERE id = #{id}
    </update>

    <update id="update">
        UPDATE mbr_user_log
        <include refid="setstr"></include>
        <include refid="wherestr"></include>
    </update>

    <!-- 已测试 -->
    <select id="count" resultType="int">
        SELECT COUNT(1) FROM mbr_user_log
        <include refid="wherestr"></include>
    </select>

    <!-- 已测试 -->
    <select id="selectOneByKey" resultMap="baseMap">
        SELECT * FROM mbr_user_log WHERE id=#{id} LIMIT 1
    </select>

    <!-- 已测试 -->
    <select id="selectOneByField" resultMap="baseMap">
        SELECT * FROM mbr_user_log WHERE
        <if test="valueFrom==null and valueTo==null">
            1!=1
        </if>
        <if test="valueFrom!=null and valueTo!=null">
            ${field} BETWEEN #{valueFrom} AND #{valueTo}
        </if>
        <if test="valueFrom!=null and valueTo==null">
            ${field} = #{valueFrom}
        </if>
        <if test="valueFrom==null and valueTo!=null">
            ${field} = #{valueTo}
        </if>
         LIMIT 1
    </select>

    <!-- 已测试 -->
    <select id="selectOne" resultMap="baseMap">
        SELECT * FROM mbr_user_log
        <include refid="wherestr"></include>
        <include refid="orderbystr"></include>
        LIMIT 1
    </select>

    <!-- 已测试 -->
    <select id="selectMany" resultMap="baseMap">
        SELECT * FROM mbr_user_log
        <include refid="wherestr"></include>
        <include refid="orderbystr"></include>
    </select>

    <!-- 已测试 -->
    <select id="selectManyByField" resultMap="baseMap">
        SELECT * FROM mbr_user_log WHERE
        <if test="valueFrom==null and valueTo==null">
            1!=1
        </if>
        <if test="valueFrom!=null and valueTo!=null">
            ${field} BETWEEN #{valueFrom} AND #{valueTo}
        </if>
        <if test="valueFrom!=null and valueTo==null">
            ${field} = #{valueFrom}
        </if>
        <if test="valueFrom==null and valueTo!=null">
            ${field} = #{valueTo}
        </if>
        <if test="orderBy!=null and orderBy!=''">
            ORDER BY ${params.orderBy}
        </if>
    </select>

    <!-- 已测试 -->
    <select id="getAll" resultMap="baseMap">
        SELECT * FROM mbr_user_log
        <include refid="wherestr"></include>
        <include refid="orderbystr"></include>
    </select>
</mapper>
