<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnuip.process.repository.base.ProcessTaskBaseMapper">

    <resultMap type="com.cnuip.base.domain.process.ProcessTask" id="baseMap">
        <id property="id" column="id"/>
        <result property="processId" column="process_id"/>
        <result property="tmplProcessTaskId" column="tmpl_process_task_id"/>
        <result property="tmplProcessTaskNo" column="tmpl_process_task_no"/>
        <result property="name" column="name"/>
        <result property="powersId" column="powers_id"/>
        <result property="powersName" column="powers_name"/>
        <result property="isFinished" column="is_finished"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <sql id="setfieldstr">
        <set>
            <if test="field=='processId'"> process_id=#{value}, </if>
            <if test="field=='tmplProcessTaskId'"> tmpl_process_task_id=#{value}, </if>
            <if test="field=='tmplProcessTaskNo'"> tmpl_process_task_no=#{value}, </if>
            <if test="field=='name'"> name=#{value}, </if>
            <if test="field=='powersId'"> powers_id=#{value}, </if>
            <if test="field=='powersName'"> powers_name=#{value}, </if>
            <if test="field=='isFinished'"> is_finished=#{value}, </if>
        </set>
    </sql>

    <sql id="setstr">
        <set>
            <if test="record.processId!=null"> process_id=#{record.processId}, </if>
            <if test="record.tmplProcessTaskId!=null"> tmpl_process_task_id=#{record.tmplProcessTaskId}, </if>
            <if test="record.tmplProcessTaskNo!=null"> tmpl_process_task_no=#{record.tmplProcessTaskNo}, </if>
            <if test="record.name!=null"> name=#{record.name}, </if>
            <if test="record.powersId!=null"> powers_id=#{record.powersId}, </if>
            <if test="record.powersName!=null"> powers_name=#{record.powersName}, </if>
            <if test="record.isFinished!=null"> is_finished=#{record.isFinished}, </if>
        </set>
    </sql>

    <sql id="wherestr">
        <if test="params!=null">
            <where>
                <if test="params.processId!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if> process_id = #{params.processId}
                </if>
                <if test="params.tmplProcessTaskId!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if> tmpl_process_task_id = #{params.tmplProcessTaskId}
                </if>
                <if test="params.tmplProcessTaskNo!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if> tmpl_process_task_no = #{params.tmplProcessTaskNo}
                </if>
                <if test="params.name!=null and params.name!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> name = #{params.name} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> name LIKE CONCAT(#{params.name}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> name LIKE CONCAT('%', #{params.name}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> name LIKE CONCAT('%', #{params.name}, '%') </if>
                </if>
                <if test="params.powersId!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if> powers_id = #{params.powersId}
                </if>
                <if test="params.powersName!=null and params.powersName!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> powers_name = #{params.powersName} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> powers_name LIKE CONCAT(#{params.powersName}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> powers_name LIKE CONCAT('%', #{params.powersName}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> powers_name LIKE CONCAT('%', #{params.powersName}, '%') </if>
                </if>
                <if test="params.isFinished!=null and params.isFinished!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> is_finished = #{params.isFinished} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> is_finished LIKE CONCAT(#{params.isFinished}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> is_finished LIKE CONCAT('%', #{params.isFinished}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> is_finished LIKE CONCAT('%', #{params.isFinished}, '%') </if>
                </if>
                <if test="params.createdTimeFrom!=null and params.createdTimeTo==null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    created_time&gt;=#{params.createdTimeFrom}
                </if>
                <if test="params.createdTimeFrom==null and params.createdTimeTo!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    created_time&lt;=#{params.createdTimeTo}
                </if>
                <if test="params.createdTimeFrom!=null and params.createdTimeTo!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    (created_time BETWEEN #{params.createdTimeFrom} AND #{params.createdTimeTo})
                </if>
                <if test="params.updatedTimeFrom!=null and params.updatedTimeTo==null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    updated_time&gt;=#{params.updatedTimeFrom}
                </if>
                <if test="params.updatedTimeFrom==null and params.updatedTimeTo!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    updated_time&lt;=#{params.updatedTimeTo}
                </if>
                <if test="params.updatedTimeFrom!=null and params.updatedTimeTo!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    (updated_time BETWEEN #{params.updatedTimeFrom} AND #{params.updatedTimeTo})
                </if>
            </where>
        </if>
    </sql>

    <sql id="orderbystr">
        <if test="params!=null and params.orderBy!=null and params.orderBy!=''">
            ORDER BY ${params.orderBy}
        </if>
    </sql>

    <!-- 已测试 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pro_process_task(process_id,tmpl_process_task_id,tmpl_process_task_no,name,powers_id,powers_name,is_finished)
        VALUES(#{processId},#{tmplProcessTaskId},#{tmplProcessTaskNo},#{name},#{powersId},#{powersName},#{isFinished})
    </insert>

    <!-- 已测试 -->
    <delete id="deleteByKey">
        DELETE FROM pro_process_task WHERE id=#{id}
    </delete>

    <!-- 已测试 -->
    <delete id="deleteByField">
        DELETE FROM pro_process_task WHERE
        <if test="valueFrom==null and valueTo==null">
            1!=1
        </if>
        <if test="valueFrom!=null and valueTo!=null">
            ${field} BETWEEN #{valueFrom} AND #{valueTo}
        </if>
        <if test="valueFrom!=null and valueTo==null">
            ${field} = #{valueFrom}
        </if>
        <if test="valueFrom==null and valueTo!=null">
            ${field} = #{valueTo}
        </if>
    </delete>

    <!-- 已测试 -->
    <delete id="delete">
        DELETE FROM pro_process_task
        <include refid="wherestr"></include>
    </delete>

    <!-- 已测试 -->
    <update id="updateFieldByKey">
        UPDATE pro_process_task
        <include refid="setfieldstr"></include>
        WHERE id = #{id}
    </update>

    <!-- 已测试 -->
    <update id="updateByKey">
        UPDATE pro_process_task
        <include refid="setstr"></include>
        WHERE id = #{id}
    </update>

    <update id="update">
        UPDATE pro_process_task
        <include refid="setstr"></include>
        <include refid="wherestr"></include>
    </update>

    <!-- 已测试 -->
    <select id="count" resultType="int">
        SELECT COUNT(1) FROM pro_process_task
        <include refid="wherestr"></include>
    </select>

    <!-- 已测试 -->
    <select id="selectOneByKey" resultMap="baseMap">
        SELECT * FROM pro_process_task WHERE id=#{id} LIMIT 1
    </select>

    <!-- 已测试 -->
    <select id="selectOneByField" resultMap="baseMap">
        SELECT * FROM pro_process_task WHERE
        <if test="valueFrom==null and valueTo==null">
            1!=1
        </if>
        <if test="valueFrom!=null and valueTo!=null">
            ${field} BETWEEN #{valueFrom} AND #{valueTo}
        </if>
        <if test="valueFrom!=null and valueTo==null">
            ${field} = #{valueFrom}
        </if>
        <if test="valueFrom==null and valueTo!=null">
            ${field} = #{valueTo}
        </if>
         LIMIT 1
    </select>

    <!-- 已测试 -->
    <select id="selectOne" resultMap="baseMap">
        SELECT * FROM pro_process_task
        <include refid="wherestr"></include>
        <include refid="orderbystr"></include>
        LIMIT 1
    </select>

    <!-- 已测试 -->
    <select id="selectMany" resultMap="baseMap">
        SELECT * FROM pro_process_task
        <include refid="wherestr"></include>
        <include refid="orderbystr"></include>
    </select>

    <!-- 已测试 -->
    <select id="selectManyByField" resultMap="baseMap">
        SELECT * FROM pro_process_task WHERE
        <if test="valueFrom==null and valueTo==null">
            1!=1
        </if>
        <if test="valueFrom!=null and valueTo!=null">
            ${field} BETWEEN #{valueFrom} AND #{valueTo}
        </if>
        <if test="valueFrom!=null and valueTo==null">
            ${field} = #{valueFrom}
        </if>
        <if test="valueFrom==null and valueTo!=null">
            ${field} = #{valueTo}
        </if>
        <if test="orderBy!=null and orderBy!=''">
            ORDER BY ${params.orderBy}
        </if>
    </select>

    <!-- 已测试 -->
    <select id="getAll" resultMap="baseMap">
        SELECT * FROM pro_process_task
        <include refid="wherestr"></include>
        <include refid="orderbystr"></include>
    </select>
</mapper>
