<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnuip.authorize.repository.base.AuthorizePatentBaseMapper">

    <resultMap type="com.cnuip.base.domain.authorize.AuthorizePatent" id="baseMap">
        <id property="id" column="id"/>
        <result property="authorizeId" column="authorize_id"/>
        <result property="type" column="type"/>
        <result property="sysId" column="sys_id"/>
        <result property="an" column="an"/>
        <result property="ad" column="ad"/>
        <result property="pa" column="pa"/>
        <result property="pnm" column="pnm"/>
        <result property="ti" column="ti"/>
        <result property="pin" column="pin"/>
        <result property="price" column="price"/>
        <result property="tradeType" column="trade_type"/>
    </resultMap>

    <sql id="setfieldstr">
        <set>
            <if test="field=='authorizeId'"> authorize_id=#{value}, </if>
            <if test="field=='type'"> type=#{value}, </if>
            <if test="field=='sysId'"> sys_id=#{value}, </if>
            <if test="field=='an'"> an=#{value}, </if>
            <if test="field=='ad'"> ad=#{value}, </if>
            <if test="field=='pa'"> pa=#{value}, </if>
            <if test="field=='pnm'"> pnm=#{value}, </if>
            <if test="field=='ti'"> ti=#{value}, </if>
            <if test="field=='pin'"> pin=#{value}, </if>
            <if test="field=='price'"> price=#{value}, </if>
            <if test="field=='tradeType'"> trade_type=#{value}, </if>
        </set>
    </sql>

    <sql id="setstr">
        <set>
            <if test="record.authorizeId!=null"> authorize_id=#{record.authorizeId}, </if>
            <if test="record.type!=null"> type=#{record.type}, </if>
            <if test="record.sysId!=null"> sys_id=#{record.sysId}, </if>
            <if test="record.an!=null"> an=#{record.an}, </if>
            <if test="record.ad!=null"> ad=#{record.ad}, </if>
            <if test="record.pa!=null"> pa=#{record.pa}, </if>
            <if test="record.pnm!=null"> pnm=#{record.pnm}, </if>
            <if test="record.ti!=null"> ti=#{record.ti}, </if>
            <if test="record.pin!=null"> pin=#{record.pin}, </if>
            <if test="record.price!=null"> price=#{record.price}, </if>
            <if test="record.tradeType!=null"> trade_type=#{record.tradeType}, </if>
        </set>
    </sql>

    <sql id="wherestr">
        <if test="params!=null">
            <where>
                <if test="params.authorizeId!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if> authorize_id = #{params.authorizeId}
                </if>
                <if test="params.type!=null and params.type!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> type = #{params.type} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> type LIKE CONCAT(#{params.type}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> type LIKE CONCAT('%', #{params.type}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> type LIKE CONCAT('%', #{params.type}, '%') </if>
                </if>
                <if test="params.sysId!=null and params.sysId!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> sys_id = #{params.sysId} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> sys_id LIKE CONCAT(#{params.sysId}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> sys_id LIKE CONCAT('%', #{params.sysId}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> sys_id LIKE CONCAT('%', #{params.sysId}, '%') </if>
                </if>
                <if test="params.an!=null and params.an!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> an = #{params.an} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> an LIKE CONCAT(#{params.an}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> an LIKE CONCAT('%', #{params.an}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> an LIKE CONCAT('%', #{params.an}, '%') </if>
                </if>
                <if test="params.adFrom!=null and params.adTo==null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    ad&gt;=#{params.adFrom}
                </if>
                <if test="params.adFrom==null and params.adTo!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    ad&lt;=#{params.adTo}
                </if>
                <if test="params.adFrom!=null and params.adTo!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    (ad BETWEEN #{params.adFrom} AND #{params.adTo})
                </if>
                <if test="params.pa!=null and params.pa!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> pa = #{params.pa} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> pa LIKE CONCAT(#{params.pa}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> pa LIKE CONCAT('%', #{params.pa}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> pa LIKE CONCAT('%', #{params.pa}, '%') </if>
                </if>
                <if test="params.pnm!=null and params.pnm!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> pnm = #{params.pnm} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> pnm LIKE CONCAT(#{params.pnm}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> pnm LIKE CONCAT('%', #{params.pnm}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> pnm LIKE CONCAT('%', #{params.pnm}, '%') </if>
                </if>
                <if test="params.ti!=null and params.ti!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> ti = #{params.ti} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> ti LIKE CONCAT(#{params.ti}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> ti LIKE CONCAT('%', #{params.ti}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> ti LIKE CONCAT('%', #{params.ti}, '%') </if>
                </if>
                <if test="params.pin!=null and params.pin!=''">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@NONE"> pin = #{params.pin} </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@LEFT"> pin LIKE CONCAT(#{params.pin}, '%') </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@RIGHT"> pin LIKE CONCAT('%', #{params.pin}) </if>
                    <if test="params.likeMode==@com.cnuip.base.base.LikeModeEnum@ALL"> pin LIKE CONCAT('%', #{params.pin}, '%') </if>
                </if>
                <if test="params.priceFrom!=null and params.priceTo==null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    price&gt;=#{params.priceFrom}
                </if>
                <if test="params.priceFrom==null and params.priceTo!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    price&lt;=#{params.priceTo}
                </if>
                <if test="params.priceFrom!=null and params.priceTo!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if>
                    (price BETWEEN #{params.priceFrom} AND #{params.priceTo})
                </if>
                <if test="params.tradeType!=null">
                    <if test="params.useOr"> OR </if><if test="!params.useOr"> AND </if> trade_type = #{params.tradeType}
                </if>
            </where>
        </if>
    </sql>

    <sql id="orderbystr">
        <if test="params!=null and params.orderBy!=null and params.orderBy!=''">
            ORDER BY ${params.orderBy}
        </if>
    </sql>

    <!-- 已测试 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO aut_authorize_patent(authorize_id,type,sys_id,an,ad,pa,pnm,ti,pin,price,trade_type)
        VALUES(#{authorizeId},#{type},#{sysId},#{an},#{ad},#{pa},#{pnm},#{ti},#{pin},#{price},#{tradeType})
    </insert>

    <!-- 已测试 -->
    <delete id="deleteByKey">
        DELETE FROM aut_authorize_patent WHERE id=#{id}
    </delete>

    <!-- 已测试 -->
    <delete id="deleteByField">
        DELETE FROM aut_authorize_patent WHERE
        <if test="valueFrom==null and valueTo==null">
            1!=1
        </if>
        <if test="valueFrom!=null and valueTo!=null">
            ${field} BETWEEN #{valueFrom} AND #{valueTo}
        </if>
        <if test="valueFrom!=null and valueTo==null">
            ${field} = #{valueFrom}
        </if>
        <if test="valueFrom==null and valueTo!=null">
            ${field} = #{valueTo}
        </if>
    </delete>

    <!-- 已测试 -->
    <delete id="delete">
        DELETE FROM aut_authorize_patent
        <include refid="wherestr"></include>
    </delete>

    <!-- 已测试 -->
    <update id="updateFieldByKey">
        UPDATE aut_authorize_patent
        <include refid="setfieldstr"></include>
        WHERE id = #{id}
    </update>

    <!-- 已测试 -->
    <update id="updateByKey">
        UPDATE aut_authorize_patent
        <include refid="setstr"></include>
        WHERE id = #{id}
    </update>

    <update id="update">
        UPDATE aut_authorize_patent
        <include refid="setstr"></include>
        <include refid="wherestr"></include>
    </update>

    <!-- 已测试 -->
    <select id="count" resultType="int">
        SELECT COUNT(1) FROM aut_authorize_patent
        <include refid="wherestr"></include>
    </select>

    <!-- 已测试 -->
    <select id="selectOneByKey" resultMap="baseMap">
        SELECT * FROM aut_authorize_patent WHERE id=#{id} LIMIT 1
    </select>

    <!-- 已测试 -->
    <select id="selectOneByField" resultMap="baseMap">
        SELECT * FROM aut_authorize_patent WHERE
        <if test="valueFrom==null and valueTo==null">
            1!=1
        </if>
        <if test="valueFrom!=null and valueTo!=null">
            ${field} BETWEEN #{valueFrom} AND #{valueTo}
        </if>
        <if test="valueFrom!=null and valueTo==null">
            ${field} = #{valueFrom}
        </if>
        <if test="valueFrom==null and valueTo!=null">
            ${field} = #{valueTo}
        </if>
         LIMIT 1
    </select>

    <!-- 已测试 -->
    <select id="selectOne" resultMap="baseMap">
        SELECT * FROM aut_authorize_patent
        <include refid="wherestr"></include>
        <include refid="orderbystr"></include>
        LIMIT 1
    </select>

    <!-- 已测试 -->
    <select id="selectMany" resultMap="baseMap">
        SELECT * FROM aut_authorize_patent
        <include refid="wherestr"></include>
        <include refid="orderbystr"></include>
    </select>

    <!-- 已测试 -->
    <select id="selectManyByField" resultMap="baseMap">
        SELECT * FROM aut_authorize_patent WHERE
        <if test="valueFrom==null and valueTo==null">
            1!=1
        </if>
        <if test="valueFrom!=null and valueTo!=null">
            ${field} BETWEEN #{valueFrom} AND #{valueTo}
        </if>
        <if test="valueFrom!=null and valueTo==null">
            ${field} = #{valueFrom}
        </if>
        <if test="valueFrom==null and valueTo!=null">
            ${field} = #{valueTo}
        </if>
        <if test="orderBy!=null and orderBy!=''">
            ORDER BY ${params.orderBy}
        </if>
    </select>

    <!-- 已测试 -->
    <select id="getAll" resultMap="baseMap">
        SELECT * FROM aut_authorize_patent
        <include refid="wherestr"></include>
        <include refid="orderbystr"></include>
    </select>
</mapper>
